* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #001C30;
  padding: 20px 40px;
}
.header__logo {
  width: 50%;
  padding-left: 100px;
}
.header__logo .logo__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.header__list {
  width: 25%;
}
.header__list .list__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__list .list__items .items__title {
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease;
  padding: 5px 0;
  font-weight: bold;
}
.header__list .list__items .items__title:last-child {
  margin-right: 0;
}
.header__list .list__items .items__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #DAFFFB;
  transition: 0.2s ease;
  margin-top: 5px;
}
.header__list .list__items .items__title:hover {
  color: #64CCC5;
}
.header__list .list__items .items__title:hover::after {
  width: 100%;
}

.landing {
  padding-top: 100px;
  font-size: 5rem;
  background: url("../public/image/wallpaper.png") center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 200px;
}
.landing .landing__text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.landing .landing__text .text__title {
  font-size: 4rem;
  color: #DAFFFB;
  margin-bottom: 10px;
}
.landing .landing__text .text__description {
  font-size: 2rem;
  color: #64CCC5;
  margin-bottom: 20px;
}
.landing .landing__text .text__btn {
  font-size: 1.6rem;
  border-radius: 5px;
  padding: 10px 30px;
  color: #fff;
  background-color: #176B87;
  transition: 0.2s ease;
  cursor: pointer;
}
.landing .landing__text .text__btn:hover {
  background-color: #64CCC5;
  color: #001C30;
}

.games {
  background: linear-gradient(145deg, rgb(23, 106, 134) 0%, rgb(0, 44, 59) 100%);
}
.games .games__title {
  text-align: center;
  width: 100%;
  padding-top: 50px;
}
.games .games__title .title__text {
  color: #DAFFFB;
  font-size: 4rem;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.games .games__title .title__text:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, rgba(100, 204, 197, 0) 0%, rgb(100, 204, 197) 50%, rgba(100, 204, 197, 0) 100%);
}
.games .games__card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding-bottom: 50px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  padding-top: 50px;
}
.card .card__img {
  width: 100%;
  height: 300px;
  border-radius: 10px 10px 0 0;
}
.card .card__info {
  padding: 30px;
  background-color: #001C30;
  width: 500px;
  height: 450px;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.card .card__info .info__title {
  font-size: 3rem;
  color: #DAFFFB;
  margin-bottom: 24px;
}
.card .card__info .info__description {
  font-size: 1.8rem;
  color: #64CCC5;
  margin-bottom: 30px;
}
.card .card__info .info__btn {
  border: none;
  width: 100%;
  padding: 16px 0;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  color: #001C30;
  transition: 0.3s ease;
  text-align: center;
}
.card .card__info .info__btn:hover {
  background-color: #176B87;
  color: #DAFFFB;
}

.gameSingle {
  background: linear-gradient(145deg, rgb(72, 72, 72) 0%, rgb(27, 27, 27) 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameSingle .gameSingle__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.gameSingle .gameSingle__content .content__info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-right: 100px;
}
.gameSingle .gameSingle__content .content__info .info__title {
  font-size: 5rem;
  color: #64CCC5;
  margin-bottom: 20px;
}
.gameSingle .gameSingle__content .content__info .info__description {
  font-size: 1.6rem;
  color: #DAFFFB;
  width: 500px;
  margin-bottom: 16px;
}
.gameSingle .gameSingle__content .content__info .info__price {
  font-size: 4rem;
  color: #64CCC5;
  margin-bottom: 16px;
  font-weight: bold;
}
.gameSingle .gameSingle__content .content__info .info__buy {
  color: #DAFFFB;
  background-color: #176B87;
  border: none;
  font-size: 2rem;
  border-radius: 5px;
  padding: 10px 50px;
  cursor: pointer;
  transition: 0.2s ease;
}
.gameSingle .gameSingle__content .content__info .info__buy:hover {
  color: #176B87;
  background-color: #DAFFFB;
}
.gameSingle .gameSingle__content .content__image {
  border: 1px solid #DAFFFB;
  border-radius: 10px;
}
.gameSingle .gameSingle__content .content__image .image__pic {
  width: 1000px;
  border-radius: 20px;
  padding: 10px;
}

.about-us {
  padding-top: 120px;
  min-height: 100vh;
  background: linear-gradient(360deg, rgb(3, 3, 3) 0%, rgb(28, 29, 33) 100%);
}
.about-us .about-us__title {
  width: 100%;
  text-align: center;
}
.about-us .about-us__title .title__text {
  font-size: 4rem;
  color: #DAFFFB;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 10px;
}
.about-us .about-us__title .title__text:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(23, 107, 135) 50%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 2px;
}
.about-us .about-us__element {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.about-us .about-us__element .about-us__image {
  margin-left: 50px;
}
.about-us .about-us__element .about-us__image .image__pic {
  width: 600px;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #176B87;
  padding: 30px;
}
.about-us .about-us__element .about-us__para .para__text {
  color: #64CCC5;
  font-size: 1.5rem;
  line-height: 22px;
  max-width: 500px;
  margin: 0 auto;
}

.contact-us {
  padding-top: 120px;
  background: url("../public/image/contactus.jpg") center;
  background-size: cover;
  min-height: 100vh;
}
.contact-us .contact-us__title {
  width: 100%;
  text-align: center;
}
.contact-us .contact-us__title .title__text {
  font-size: 4rem;
  color: #DAFFFB;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 10px;
}
.contact-us .contact-us__title .title__text:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(23, 107, 135) 50%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 2px;
}
.contact-us .contact-us__elements {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  padding-left: 200px;
}
.contact-us .contact-us__elements .elements__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-us .contact-us__elements .elements__form .form__input {
  border: none;
  border-bottom: 1px solid #176B87;
  background-color: transparent;
  font-size: 1.6rem;
  padding: 20px 16px;
  color: #64CCC5;
  margin-bottom: 20px;
  width: 100%;
  resize: none;
}
.contact-us .contact-us__elements .elements__form .form__input::placeholder {
  color: #64CCC5;
}
.contact-us .contact-us__elements .elements__form .form__input:focus {
  outline: none;
}
.contact-us .contact-us__elements .elements__form .form__btn {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.6rem;
  padding: 10px 30px;
  color: #fff;
  background-color: #176B87;
  transition: 0.2s ease;
}
.contact-us .contact-us__elements .elements__form .form__btn:hover {
  background-color: #64CCC5;
  color: #001C30;
}

.notFound {
  padding: 120px 0;
  background: url("../public/image/notFound.jpg") center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notFound .notFound__title {
  font-size: 4rem;
  color: #64CCC5;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #001C30;
  padding: 20px 40px;
}
.footer .footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer__copyRight {
  margin-top: 20px;
}
.footer .footer__copyRight .copyRight__title {
  font-size: 1.4rem;
  color: #64CCC5;
}

.active {
  color: #64CCC5 !important;
}

/*# sourceMappingURL=style.css.map */
